.header-container {
  max-width: 1184px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ul-el {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.a-item {
  position: relative;
  transition: all 2s;
}
.a-item::before {
  content: " ";
  height: 1px;
  width: 0%;
  background-color: blue;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 2s;
}
.a-item:hover::before {
  width: 100%;
}

/* pseudo classes */
.box-new {
  width: 200px;
  height: 200px;
}
.box-new:first-child {
  background-color: red;
}
.box-new:nth-child(2) {
  background-color: yellow;
}
.box-new:nth-child(3) {
  background-color: blue;
}
.box-new:last-child {
  background-color: green;
}

/* .box-new:nth-child(even) {
  background-color: #f85e9f;
}
.box-new:nth-child(odd) {
  background-color:aqua;
} */


/*  */

.sign-up {
  width: 115px;
  height: 49px;
  border-radius: 100px;
  background-color: #5d50c6;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.regist {
  display: flex;
}
.log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 49px;
}
.header-main {
  padding: 36.5px 0;
}
.burger-bar {
  display: none;
}
/* section style */
.container-block {
  max-width: 1184px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.left-block {
  width: 412px;
}
.right-block {
  width: 772px;
}
.right-image {
  width: 100%;
}
.title-left {
  font-size: 69px;
}
.span-el {
  color: #f85e9f;
}
.get {
  width: 141px;
  height: 49px;
  background-color: #5d50c6;
  color: #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch {
  width: 181px;
  height: 56px;
  border: 1px solid #eeeeee;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-small {
  display: flex;
  column-gap: 16px;
}

/* form elements */
.form-el {
  max-width: 700px;
  width: 100%;
}
.form-div-element {
  display: flex;
  flex-direction: column;
}
.input-el {
  height: 60px;
  border: none;
  border-bottom: 2px solid #000;
  margin: 15px 0;
  color: red;
  outline: none;
}
.btn-submit {
  background-color: lightblue;
  border: none;
  width: 200px;
  height: 60px;
  border-radius: 25px;
}

/* arrows block */
.container-new {
  max-width: 1184px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.white {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #191825;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: #5d50c6;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-arrows-block {
  display: flex;
  column-gap: 32px;
}
.section-new {
  margin: 30px 0;
}
.title1 {
  font-size: 23px;
}
.title2 {
  font-size: 44px;
  margin-top: 16px;
}

.textarea-el {
  width: 100%;
  height: 200px;
  resize: none;
  outline: none;
}
.textarea-el::placeholder {
  color: red;
  font-size: 14px;
}

/* pseudo elements */

.hello-el::before {
  content: "Good Morning";
  color: red;
}

/* .hello-el::after {
  content: "\00a9";
  margin-left: 15px;
}  */
.hello-el::after {
  content: " ";
  width: 2px;
  height: 30px;
  background-color: #f85e9f;
  margin-left: 15px;
  display: inline-block;
}

/* responsive */
@media (max-width: 1024px) {
  .navigation {
    display: none;
  }
  .burger-bar {
    display: block;
    order: 1;
  }
  .logo {
    order: 2;
  }
  .regist {
    order: 3;
  }
  .container-block {
    flex-direction: column-reverse;
    row-gap: 64px;
  }
  .left-block {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .right-block {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .regist {
    display: none;
  }
  .logo {
    order: 1;
  }
  .burger-bar {
    order: 2;
  }
  .left-small {
    flex-direction: column;
    width: 100%;
    row-gap: 24px;
  }
  .get,
  .watch {
    width: 100%;
  }
}
